<div class="{{width}}">
    <div class="form-group ">
    <label for="exampleInputEmail1">{{label}}</label>
    <input type="{{type}}" value="{{value}}" id="{{id}}" class="form-control" id="exampleInputEmail1" placeholder="{{placeholder}}">
  </div>
</div>